body {
    background-color: #494949;
}

table {
    width: 75%;
}

table tr {}

table tr td {
    vertical-align: top;
}

table tr td table.special{
    margin: 3px;
    width: 300px;
}

table tr td table {
    margin: 3px;
    width: 150px;
}

table tr td table tr {}

table tr td table tr th {
    text-align: center;
    font-size: large;
    font-weight: 700;
}

table.convoy tr td table tr th {
    text-align: center;
    font-size: large;
    font-weight: 700;
    font-size: 1em;
}

table tr td table tr th img {
    max-width: 70px;
}

table tr td table tr th .clan {
    max-height: 30px;
}

table tr td table tr td {
    border: 1px solid gray;
    background-color: #494949;
}

table tr td .disabled tr th {
    background-color: #00000066;
    color: #494949;
}

table tr td .disabled tr td {
    border: 1px solid #494949;
    background-color: #00000066;
    color: #494949;
}