body {
    background-color: #494949;
}

body div div img.clan_selector {
    max-height: 50px;
    max-width: 50px;
    margin: 0px 5px 0px 5px;
}

table {
    width: 75%;
}
.convoy tr td table tr th {
    font-size: 1em;
}

table tr {}

table tr td {
    vertical-align: top;
}

table tr td table {
    margin: 3px;
    width: 150px;
}

table tr td table tr {}

table tr td table tr th {
    text-align: center;
    font-size: large;
    font-weight: 700;
}

table tr td table tr th img {
    max-width: 70px;
}

table tr td table tr th .clan {
    max-height: 30px;
}

table tr td table tr td .clan {
    max-height: 25px;
    max-width: 25px;
}

table tr td table tr td .rol {
    max-height: 25px;
    max-width: 25px;
    filter: brightness(0) invert(1);
}

table tr td table tr td:nth-child(-n + 2) {
    width: 25px;
    text-align: center;
}

table tr td table tr td:last-child {
    padding-left: .2em;
}

table tr td table tr td {
    border: 1px solid gray;
}

table tr td .disabled tr th {
    background-color: #00000066;
    color: #494949;
}

table tr td .disabled tr td {
    border: 1px solid #494949;
    background-color: #00000066;
    color: #494949;
}